body {
    font-family:'Poppins', sans-serif ;
    margin: 0;
    padding: 0;
    font-size: 23px;
    height: 200px;
    background-color: #ffffff;
    background-size: cover; 
    background-repeat: no-repeat;
      }

  
  h2 {
    text-align: center;
    margin-top: 30px;
    color: #000;
    
    font-family: 'Poppins', sans-serif; 
    font-size: 45px;
  }

  form {
    max-width: 500px;
    margin: 50px auto;
    padding: 15px;
    font-family:'Poppins', sans-serif; 
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    box-shadow: 0 0 40px rgba(208, 207, 210, 0.6);
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  

  .text {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 40px rgba(208, 207, 210, 0.6);
  }
  .email {
    width: 100%;
    padding: 8px;
    /* margin-bottom: 10px; */
    margin-top: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 40px rgba(208, 207, 210, 0.6);
  }
  .tel {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 40px rgba(208, 207, 210, 0.6);
  }
  .password {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 40px rgba(208, 207, 210, 0.6);
  }
  
 .submit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    
    cursor: pointer;
    background-color:rgb(15, 183, 216);
    color: white;
  }
  
  .submit:hover {
    background-color: #0404fdde;
    color: white;
  }
  
  .shpass {
    font-size: 1px !important;
}

.valid {
  display: inline-block;
  width: 80px; /* Adjust as needed */
  text-align: right;
  margin-right: 10px;
}
